/**********************************************************************************************************************
 * MAIN                                                                                                               *
 **********************************************************************************************************************/
:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
}

html, body {
	height: 100vh;
}

wrapper {
    min-height: 100vh;
    height: auto;
}

wrapper > .container {
    padding: 35px 15px 20px;
}

/**********************************************************************************************************************
 * BREADCRUMBS                                                                                                        *
 **********************************************************************************************************************/
.breadcrumb > li + li:before {
    color: #7c8695;
    content: "/\00a0";
    padding: 0 5px;
}

/**********************************************************************************************************************
 * ERROR-SUMMARY                                                                                                      *
 **********************************************************************************************************************/
 .error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/**********************************************************************************************************************
 * FOOTER                                                                                                             *
 **********************************************************************************************************************/
 .footer {
    height: 70px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding: 20px;
}

/**********************************************************************************************************************
 * JUMBOTROM                                                                                                          *
 **********************************************************************************************************************/
.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/**********************************************************************************************************************
 * NOT-SET                                                                                                            *
 **********************************************************************************************************************/
.not-set {
    color: #c55;
    font-style: italic;
}
